.Projects {
  margin: 0 auto;
  padding: 2rem 1rem;
}

.Projects .projects-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.Projects .projects-title .close {
  font-size: 3rem;
}

.Projects .projects-description {
  resize: none;
  height: 10rem;
}

.Projects .alert.alert-danger {
  display: flex;
  justify-content: center;
}

.Projects .save-delete-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  padding-top: 1rem;
}
